.gradle
.idea
build/*
app/build/*
app/src/main/obj/*
app/src/main/libs/*
app/app.iml
gradle
gradlew
gradlew.bat
local.properties
ccn-lite-android.iml

#include everything within those
!app/build/outputs
!app/build/outputs/*